<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for river in continent_rivers %}
        {% if river.continent == "S. America" %}
            {% if river.length < 1000 %}
                <b>Name: </b>{{ river.name }} <br>
                <b>Continent: </b>{{ river.continent }} <br>
                <b>Length: </b>{{ river.length }} <br>
                <hr>
            {% endif %}
        {% else %}
        <b>Name: </b>{{ river.name }} <br>
        <b>Continent: </b>{{ river.continent }} <br>
        <b>Length: </b>{{ river.length }} <br>
        <hr>
        {% endif %}
    {% endfor %}
</body>
</html>